{% extends 'app_1/base.html' %}

{% load static %}

{% block title %}Inicio - Mi Portafolio{% endblock %}

{% block content %}
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-5 custom-margin"></h1>
            <h1 class="masthead-heading mb-5 custom-margin"></h1>
            <h1 class="masthead-heading mb-5 custom-margin"></h1>
            <h1 class="masthead-heading mb-5 custom-margin"></h1>
            <h1 class="masthead-heading mb-5 custom-margin"></h1>
            <h1 class="masthead-heading mb-5 custom-margin"></h1>
            <h1 class="masthead-heading mb-5 custom-margin"></h1>
            <h1 class="masthead-heading mb-5 custom-margin"></h1>
            <h1 class="masthead-heading mb-5 custom-margin"></h1>
            <h1 class="masthead-heading mb-5 custom-margin"></h1>
            <h1 class="masthead-heading mb-5: 3remcustom-margin">Bienvenido a mi portafolio</h1>
            <h2 class="masthead-subheading mb-5: 3rem">Descubre mis proyectos, habilidades, educación y experiencia.
            </h2>
            <a class="btn btn-primary btn-xl rounded-pill mt-4" href="{% url 'listar_proyectos' %}">Ver Proyectos</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>


<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'app_1/assets/img/img-1.png' %}" alt="..." />
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Proyectos Innovadores</h2>
                    <p>Explora los proyectos en los que he trabajado y descubre cómo he resuelto problemas complejos con
                        soluciones innovadoras.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'app_1/assets/img/img-2.png' %}" alt="..." />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Habilidades y Experiencia</h2>
                    <p>Descubre las habilidades que he adquirido a lo largo de mi carrera profesional y cómo estas me
                        han ayudado a contribuir en diversos proyectos.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'app_1/assets/img/img-3.png' %}" alt="..." />

                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Educación Continua</h2>
                    <p>Mi compromiso con el aprendizaje continuo me ha llevado a buscar siempre nuevas oportunidades
                        para crecer y mejorar en mi campo.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}